DE Master/C_F_Schema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by William Ruffin (THOMSON REUTERS (SCIENTIFIC) INC.) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Michael Caldwell (Thomson Scientific) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Dennis Chaney (BIOSIS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:simpleType name="IDENTFIER_NUM">
		<xsd:annotation>
			<xsd:documentation>defined article or citation identifier number</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ASCII_CHARS_32_126">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="210"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IDENTIFIER_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined article or citation identifier type</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ARTN"/>
			<xsd:enumeration value="DOI"/>
			<xsd:enumeration value="PII"/>
			<xsd:enumeration value="PMID"/>
			<xsd:enumeration value="SICI"/>
			<xsd:enumeration value="UNSP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="INDICATOR">
		<xsd:annotation>
			<xsd:documentation>defined indicator </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="Y"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PAGENAME">
		<xsd:annotation>
			<xsd:documentation>defined page</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NILLABLE_EXTENDED_CHARS">
		<xsd:annotation>
			<xsd:documentation>ASCII allowing leading space from 32 TO 126, 196-199,201,209,214,220,224-226,228-239,241-244,246,249-252,255</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[&#32;-&#126;&#196;-&#199;&#201;&#209;&#214;&#220;&#224;-&#226;&#228;-&#239;&#241;-&#244;&#246;&#249;-&#252;&#255;]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Use when cardinality is 0 or more will not stop a blank char from validating-->
	<xsd:simpleType name="NILLABLE_ASCII_CHARS_32_126">
		<xsd:annotation>
			<xsd:documentation>ASCII allowing leading space from 32 to 126</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[&#32;-&#126;]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Use when cardinality is 1 or more -->
	<xsd:simpleType name="EXTENDED_CHARS">
		<xsd:annotation>
			<xsd:documentation>ASCII not allowing leading space from 32 TO 126, 196-199,201,209,214,220,224-226,228-239,241-244,246,249-252,255</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[&#33;-&#126;&#196;-&#199;&#201;&#209;&#214;&#220;&#224;-&#226;&#228;-&#239;&#241;-&#244;&#246;&#249;-&#252;&#255;]{1}[&#32;-&#126;&#196;-&#199;&#201;&#209;&#214;&#220;&#224;-&#226;&#228;-&#239;&#241;-&#244;&#246;&#249;-&#252;&#255;]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Use when cardinality is 1 or more -->
	<xsd:simpleType name="ASCII_CHARS_32_126">
		<xsd:annotation>
			<xsd:documentation>ASCII not allowing leading space from 32 to 126</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[&#33;-&#126;]{1}[&#32;-&#126;]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="AI_ARTICLEIDENTIFIER" block="extension" nillable="false">
		<xsd:annotation>
			<xsd:documentation>under item Optional 0 to many  (need to be CDATA)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="IDENTFIER_NUM">
					<xsd:attribute name="seq" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="type" type="IDENTIFIER_TYPE" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ANONYMOUS_IND" type="INDICATOR">
		<xsd:annotation>
			<xsd:documentation>under biosis name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CI_AUTHOR">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="18"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CITATION">
		<xsd:annotation>
			<xsd:documentation>item level  Optional 0 to many</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CI_INFO"/>
				<xsd:element ref="RI_CITATIONIDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="UT_CODE" minOccurs="0"/>
				<xsd:element ref="DATASETID" minOccurs="0"/>
				<xsd:element ref="FULL_CI_INFO" minOccurs="0"/>
				<xsd:element ref="CI_CAPTURE" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="seq" type="xsd:positiveInteger" use="required"/>
			<xsd:attribute name="I" type="INDICATOR"/>
			<xsd:attribute name="D" type="INDICATOR"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CI_KEYSAVE">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:length value="14"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_INFO">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="CI_JOURNAL"/>
				<xsd:element ref="CI_PATENT"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CI_IMPLICITINDICATOR">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value=" "/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_JOURNAL">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CI_AUTHOR" minOccurs="0"/>
				<xsd:element ref="CI_VOLUME" minOccurs="0"/>
				<xsd:element ref="CI_PAGE" minOccurs="0"/>
				<xsd:element ref="CI_YEAR" minOccurs="0"/>
				<xsd:element ref="CI_TITLE" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>citation level  Optional  (need to be CDATA)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_IMPLICITINDICATOR" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="KEYSAVE_EXPENDED" type="INDICATOR" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CI_PAGE">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:length value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_PATENT">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PATENT_ASSIGNEE" minOccurs="0"/>
				<xsd:element ref="PATENT_YEAR" minOccurs="0"/>
				<xsd:element ref="PATENT_STAT" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="ID" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="17"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CI_TITLE">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional  (need to be CDATA) For vendors - this must be left blank except for processing of NTR citation.  For NTR citations, the CI_TITLE is populated with the token value "**NON-TRADITIONAL**"</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_VOLUME">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:length value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_YEAR">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DA_COVERDATE">
		<xsd:annotation>
			<xsd:documentation>issue level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DT_DOCUMENTTYPE" nillable="false">
		<xsd:annotation>
			<xsd:documentation>item level  Required </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Abstract of Published Item"/>
				<xsd:enumeration value="Art Exhibit Review"/>
				<xsd:enumeration value="Article"/>
				<xsd:enumeration value="Bibliography"/>
				<xsd:enumeration value="Biographical"/>
				<xsd:enumeration value="Book Review"/>
				<xsd:enumeration value="CC Meeting Abstract"/>
				<xsd:enumeration value="CC Meeting Heading"/>
				<xsd:enumeration value="Chronology"/>
				<xsd:enumeration value="Correction"/>
				<xsd:enumeration value="Dance Performance Review"/>
				<xsd:enumeration value="Database Review"/>
				<xsd:enumeration value="Discussion"/>
				<xsd:enumeration value="Editorial"/>
				<xsd:enumeration value="Excerpt"/>
				<xsd:enumeration value="Fiction, Creative Prose"/>
				<xsd:enumeration value="Film Review"/>
				<xsd:enumeration value="Hardware Review"/>
				<xsd:enumeration value="Letter"/>
				<xsd:enumeration value="Main Cite"/>
				<xsd:enumeration value="Meeting Abstract"/>
				<xsd:enumeration value="Meeting Summary"/>
				<xsd:enumeration value="Music Performance Review"/>
				<xsd:enumeration value="Music Score"/>
				<xsd:enumeration value="Music Score Review"/>
				<xsd:enumeration value="News Item"/>
				<xsd:enumeration value="Note"/>
				<xsd:enumeration value="Patent"/>
				<xsd:enumeration value="Poetry"/>
				<xsd:enumeration value="Press Digest"/>
				<xsd:enumeration value="Proceedings Paper"/>
				<xsd:enumeration value="Record Review"/>
				<xsd:enumeration value="Reprint"/>
				<xsd:enumeration value="Review"/>
				<xsd:enumeration value="Script"/>
				<xsd:enumeration value="Software Review"/>
				<xsd:enumeration value="TV Review, Radio Review"/>
				<xsd:enumeration value="Theater Review"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ET_AL_IND" type="INDICATOR">
		<xsd:annotation>
			<xsd:documentation>under biosis name</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ID_ACCESSION">
		<xsd:annotation>
			<xsd:documentation>issue level  Required </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="5"/>
				<xsd:pattern value="[A-Z0-9]{5}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IM_IMAGEDSTATUS">
		<xsd:annotation>
			<xsd:documentation>issue level  Required  F = fully P = partial N = no</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="N"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IP_PAGE">
		<xsd:annotation>
			<xsd:documentation>item level  Required 1 to many</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="PAGENAME">
					<xsd:attribute name="seq" type="xsd:positiveInteger" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
		<xsd:key name="IP_PAGE">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@seq"/>
		</xsd:key>
	</xsd:element>
	<xsd:element name="IS_ISSUE">
		<xsd:annotation>
			<xsd:documentation>issue level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ISSUE">
		<xsd:annotation>
			<xsd:documentation>issue</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ID_ACCESSION"/>
				<xsd:element ref="ITEM" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="ISSUENO" type="xsd:positiveInteger" use="optional"/>
		</xsd:complexType>
		<xsd:unique name="item">
			<xsd:selector xpath="ITEM"/>
			<xsd:field xpath="@ITEMNO"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="ISSUES">
		<xsd:annotation>
			<xsd:documentation>root</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ISSUE" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique name="issueno">
			<xsd:selector xpath="ISSUE"/>
			<xsd:field xpath="@ISSUENO"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="ITEM_CONTENT">
		<xsd:annotation>
			<xsd:documentation>child of item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DT_DOCUMENTTYPE"/>
				<xsd:element ref="PG_PAGESPAN"/>
				<xsd:element ref="CI_CITATION" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ITEM">
		<xsd:annotation>
			<xsd:documentation>issue level Requied 1 to many </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ITEM_CONTENT"/>
			</xsd:sequence>
			<xsd:attribute name="ITEMNO" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9999"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
		<xsd:unique name="citation">
			<xsd:selector xpath="ITEM_CONTENT/CI_CITATION"/>
			<xsd:field xpath="@seq"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="JS_JOURNALSEQ">
		<xsd:annotation>
			<xsd:documentation>issue level  Required </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="6"/>
				<xsd:pattern value="[A-Z0-9]{5}[ABJS]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PATENT_ASSIGNEE">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="20"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PATENT_STAT">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="NILLABLE_ASCII_CHARS_32_126">
				<xsd:length value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PATENT_YEAR">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:gYear">
				<xsd:minInclusive value="0001"/>
				<xsd:maxInclusive value="9999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PG_PAGESPAN" nillable="false">
		<xsd:annotation>
			<xsd:documentation>item level  Required </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="3750"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:pattern value="[\w\-\+,_]+"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RI_CITATIONIDENTIFIER">
		<xsd:annotation>
			<xsd:documentation>citation level  Optional 0 to many  (need to be CDATA)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="IDENTFIER_NUM">
					<xsd:attribute name="seq" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="type" type="IDENTIFIER_TYPE" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SO_JOURNALTITLE">
		<xsd:annotation>
			<xsd:documentation>issue level  Optional (need to be CDATA)</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="29"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- Beging CITATION CAPTURE BLURB  elements .... -->
	<xsd:element name="CI_CAPTURE_PARSED">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="CI_CAPTURE_AUTHOR" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_CAPTURE_VOLUME" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_CAPTURE_PAGE" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_CAPTURE_YEAR" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_CAPTURE_TITLE" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_CAPTURE_IMPLICITINDICATOR" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_BLURB">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:maxLength value="3750"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="CI_CAPTURE_BLURB" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>CDATA</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CI_CAPTURE_TITLE"/>
				<xsd:element name="CI_CAPTURE_TITLE_CONF_IND" minOccurs="0"/>
				<xsd:element name="CI_IMAGE_CLIP_NAME" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ASCII_CHARS_32_126">
							<xsd:whiteSpace value="collapse"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_AUTHOR">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="75"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_VOLUME">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_PAGE">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:minLength value="1"/>
				<xsd:maxLength value="16"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_YEAR">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="4"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_TITLE">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="255"/>
				<xsd:whiteSpace value="preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CI_CAPTURE_IMPLICITINDICATOR">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:whiteSpace value="preserve"/>
				<xsd:length value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- End CITATION CAPTURE BLURB  elements .... -->
	<!-- Begin CITATION FCR  Definition ................................................................................................................................ -->
	<!-- FCR Char Definition - Use when cardinality is 1 or more -->
	<xsd:simpleType name="FCR_ASCII_CHARS">
		<xsd:annotation>
			<xsd:documentation>FCR ASCII data set not allowing leading space</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[&#33;-&#255;]{1}[&#32;-&#255;]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FCR_ELEMENT_DEF">
		<xsd:annotation>
			<xsd:documentation>For us with FCR elements with attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FCR_ASCII_CHARS">
			<xsd:whiteSpace value="preserve"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FULL_CI_INFO_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy type attribute for element FULL_CI_INFO</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Journal"/>
			<xsd:enumeration value="Book-Series"/>
			<xsd:enumeration value="General"/>
			<xsd:enumeration value="UnPublished"/>
			<xsd:enumeration value="Thesis"/>
			<xsd:enumeration value="Report"/>
			<xsd:enumeration value="Patent"/>
			<xsd:enumeration value="Meeting"/>
			<xsd:enumeration value="Magazine-Newspaper"/>
			<xsd:enumeration value="InPress"/>
			<xsd:enumeration value="Communication"/>
			<xsd:enumeration value="Non-Traditional Reference"/>
			<xsd:enumeration value="DCI"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SOURCE_ID_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy type attribute for element SOURCE_ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ISSN"/>
			<xsd:enumeration value="ISBN"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SOURCE_PUB_TITLE_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy type attribute for element SOURCE_PUB_TITLE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="General"/>
			<xsd:enumeration value="Translated"/>
			<xsd:enumeration value="Series"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PUB_ID_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy type attribute for element PUB_ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DOI"/>
			<xsd:enumeration value="ARTN"/>
			<xsd:enumeration value="Abst-Num"/>
			<xsd:enumeration value="ELocation-ID"/>
			<xsd:enumeration value="Patent-Number"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ITEM_TITLE_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy type attribute for element ITEM_TITLE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Article"/>
			<xsd:enumeration value="Translated"/>
			<xsd:enumeration value="Chapter"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EXTERNAL_LINK_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy type attribute for element EXTERNAL_LINK</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="URI"/>
			<xsd:enumeration value="FTP"/>
			<xsd:enumeration value="EMAIL"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAME_ROLE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy role attribute for element NAME</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Author"/>
			<xsd:enumeration value="Editor"/>
			<xsd:enumeration value="Inventor"/>
			<xsd:enumeration value="Assignee"/>
			<xsd:enumeration value="Translator"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UNITS_TYPE">
		<xsd:annotation>
			<xsd:documentation>defined to satisfy role attribute for element PAGESIZE UNITS</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="KB"/>
			<xsd:enumeration value="MB"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="TB"/>
			<xsd:enumeration value="PB"/>
			<xsd:enumeration value="PP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="NAME">
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="SURNAME">
						<xsd:annotation>
							<xsd:documentation>Enclose in CDATA</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="FCR_ASCII_CHARS">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="GIVEN_NAMES" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Enclose in CDATA</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="FCR_ASCII_CHARS">
								<xsd:minLength value="1"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
				<xsd:element ref="ET_AL_IND" minOccurs="0"/>
				<xsd:element ref="ANONYMOUS_IND" minOccurs="0"/>
			</xsd:choice>
			<xsd:attribute name="role" type="NAME_ROLE" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EXTERNAL_LINK">
		<xsd:annotation>
			<xsd:documentation>Enclose in CDATA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="FCR_ELEMENT_DEF">
					<xsd:attribute name="type" type="EXTERNAL_LINK_TYPE" use="required" form="qualified"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SOURCE_PUB_TITLE">
		<xsd:annotation>
			<xsd:documentation>Enclose in CDATA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="FCR_ELEMENT_DEF">
					<xsd:attribute name="type" type="SOURCE_PUB_TITLE_TYPE" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SOURCE_ID">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="FCR_ELEMENT_DEF">
					<xsd:attribute name="type" type="SOURCE_ID_TYPE" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ITEM_TITLE">
		<xsd:annotation>
			<xsd:documentation>Enclose in CDATA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="FCR_ELEMENT_DEF">
					<xsd:attribute name="type" type="ITEM_TITLE_TYPE" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PUB_ID">
		<xsd:annotation>
			<xsd:documentation>Enclose in CDATA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="FCR_ELEMENT_DEF">
					<xsd:attribute name="type" type="PUB_ID_TYPE" use="required"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DATE">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DATE_STRING" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Enclose in CDATA</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="FCR_ASCII_CHARS">
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="YEAR" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Enclose in CDATA</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="FCR_ASCII_CHARS">
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UT_CODE">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="15"/>
				<xsd:maxLength value="18"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:pattern value="[A-Z0-9:]"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DATASETID">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="7"/>
				<xsd:maxLength value="20"/>
				<xsd:whiteSpace value="preserve"/>
				<xsd:pattern value="UNKNOWN|[A-Z0-9]{20}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FULL_CI_INFO">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="SOURCE_PUB_TITLES" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="SOURCE_PUB_TITLE" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SOURCE_IDENTIFIERS" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="SOURCE_ID" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PUBLISHER" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PUBLISHER_NAME" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Enclose in CDATA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="FCR_ASCII_CHARS">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="PUBLISHER_LOC" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Enclose in CDATA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="FCR_ASCII_CHARS">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ITEM_TITLES" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="ITEM_TITLE" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CI_PUB_INFO" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element name="EDITION" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Enclose in CDATA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="FCR_ASCII_CHARS">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="VOLUME_INFO" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="VOLUME_ID">
											<xsd:annotation>
												<xsd:documentation>Enclose in CDATA</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ISSUE_INFO" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="ISSUE_ID" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Enclose in CDATA</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="ISSUE_TITLE" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Enclose in CDATA</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SUPPLEMENT" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Enclose in CDATA</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PUB_DATE" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="DATE"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="PAGINATION_SIZE" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PAGE_RANGE" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="FPAGE" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="LPAGE" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="SIZE" minOccurs="0">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:positiveInteger">
														<xsd:attribute name="units" type="UNITS_TYPE" use="required"/>
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="EXTERNAL_LINK" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PUB_IDENTIFIERS" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="PUB_ID" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PERSON_GROUP" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="COLLAB" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="COLLAB_GRP_NAME">
											<xsd:annotation>
												<xsd:documentation>Enclose in CDATA</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="INSTITUTION" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Enclose in CDATA</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="FCR_ASCII_CHARS">
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element ref="NAME" minOccurs="0" maxOccurs="unbounded"/>
										<xsd:element ref="EXTERNAL_LINK" minOccurs="0" maxOccurs="unbounded"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="NAME" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CONF_INFO" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CONF_NAME">
								<xsd:annotation>
									<xsd:documentation>Enclose in CDATA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="FCR_ASCII_CHARS">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CONF_DATE" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element ref="DATE"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="CONF_LOC" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Enclose in CDATA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="FCR_ASCII_CHARS">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CONF_SPONSOR" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Enclose in CDATA</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="FCR_ASCII_CHARS">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MISC" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Enclose in CDATA</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="FCR_ASCII_CHARS">
							<xsd:minLength value="1"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="type" type="FULL_CI_INFO_TYPE" use="required"/>
			<xsd:attribute name="TR_Implicit_IND" type="xsd:boolean" use="optional" default="0"/>
			<xsd:attribute name="std_ind" use="optional" default="Y">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- End CITATION FCR  Definition ................................................................................................................................ -->
</xsd:schema>
